#tehui{
  width:100%;
  background: #fff;
  img{
    width:100%;
    padding:0 .15rem .1rem .15rem;
  }
  ul{
    @include flexbox();
    width:100%;
    li{
      @include flex();
      &:nth-child(2){
        img{
          height:50%;
          padding:0 .15rem .1rem .075rem;
          &:nth-child(2){
            padding:0 .15rem 0 .075rem;
          }
        }
      }
      &:nth-child(1){
        img{
          padding:0 .075rem 0 .15rem;
        }
      }
    }
  }
}
